/* src/pages/Map/Map.module.css */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 12px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-weight: bold;
}

.backBtn {
  background: none;
  border: none;
  font-size: 18px;
  margin-right: 8px;
}

.title {
  flex: 1;
  text-align: center;
}

.searchBar {
  padding: 10px 12px;
  position: relative;
}

.searchBar input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.mapContainer {
  flex: 1;
  width: 100%;

}

.popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* ✅ 화면 정중앙에 팝업 정렬 */
  z-index: 1000;
}

.suggestionUl {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestionLi {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}


@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}