/* src/pages/Map/Map.module.css */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 12px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-weight: bold;
}

.backBtn {
  background: none;
  border: none;
  font-size: 18px;
  margin-right: 8px;
}

.title {
  flex: 1;
  text-align: center;
}

.searchBar {
  padding: 10px 12px;
}

.searchBar input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.mapContainer {
  flex: 1;
  width: 100%;
  
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #eee;
  background-color: #fff;
}

.navbar button {
  border: none;
  background: none;
  font-size: 14px;
  color: #999;
}

.navbar .active {
  color: #FF5573;
  font-weight: bold;
}

/* 기존 스타일 아래에 추가 */
.popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; /* ✅ 화면 정중앙에 팝업 정렬 */
  z-index: 1000;
}

.memoryCard {
  background: #fff;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  max-width: 380px;
  margin-bottom: env(safe-area-inset-bottom);
  overflow: hidden;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.3s ease;
}

.memoryImage {
  width: 100%;
  height: 300px;
  display: block;
}

.memoryContent {
  padding: 16px;
  color: #333;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.dateLocation {
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}

.desc {
  font-size: 15px;
  margin-bottom: 12px;
}

.actions {
  font-size: 14px;
  color: #666;
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

.link {
  font-size: 14px;
  color: #e6005a;
  font-weight: bold;
}
.link a {
  text-decoration: none;
  color: inherit;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
.popupBox {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 80%;
}

.popupBox img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}